<nav id="w1" class="navbar-inverse navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w1-collapse"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/basic/web/index.php">My Application</a>
        </div>
        <div id="w1-collapse" class="collapse navbar-collapse">
            <ul id="w2" class="navbar-nav navbar-right nav"><li><a href="/basic/web/index.php?r=site%2Findex">Home</a></li>
            <li><a href="/basic/web/index.php?r=site%2Fabout">About</a></li>
            <li><a href="/basic/web/index.php?r=site%2Fcontact">Contact</a></li>
            <li><a href="/basic/web/index.php?r=site%2Flogin">Login</a></li></ul>
        </div>
    </div>
</nav>